/* TABLE OF CONTENT ----------------------------------
1. Global settings (resets such as border-box)
2. Header and Navigation
3. Main Elements (Main, Footer, Social Media)
4. Home Page
5. Contact Page (Form Controls, Google Maps)
6. About Us Page
7. Services Page
-----------------------------------------------------*/

/* ===============
   GLOBAL SETTINGS
   =============== */

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

/* Header and Navigation */

header {
  background-color: #333333;
  background-image: url(images/fronds.jpg);
  background-position-y: 90%;
}
header img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  padding: 10px;
}
header ul {
  font-family: sans-serif;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: right;
  margin: 0;
  padding: 0;
}
header li {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

/* start navigation */

nav {
  background-color: #f3f3f4;
  font-size: 1.2rem;
}
nav .wrapper {
  width: 800px;
  margin: auto;
}
nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav li a {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #191645;
}

nav li a:hover {
  background-color: pink;
  color: white;
}
/* end navigation */

/* Main */

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2.6rem;
  color: #333333;
}

p {
  font-family: "PT Sans", sans-serif;
  color: #333333;
}

.hero h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 6em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  display: block;
  width: 300px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  border: 3px solid pink;
  border-radius: 25px;
  background-color: pink;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}

main {
  text-align: center;
}

/* Social Media Buttons */
.fa {
  text-align: center;
  text-decoration: none;
  justify-content: center;
}
.fa ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.fa ul li {
  text-decoration: none;
  list-style-type: none;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.fa .facebook:hover {
  opacity: 0.5;
} 

.fa .instagram:hover {
  opacity: 0.5;
}
footer {
  background-color: #333333;
  color: white;
}
footer ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 20em;
  margin-right: 20em;
  padding: 0;
}
footer li a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #white;
}

footer li a:hover {
  background-color: pink;
  color: white;
}

footer .wrapper {
  width: 800px;
  margin: auto;
  padding: 15px;
}
/* Home Page */

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  border: 3px solid pink;
  border-radius: 20px;
  background-color: pink;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffe6ea;
  color: #333333;
}

/* Contact Page */

body {
  font-family: sans-serif;
}

input[type="reset"] {
  background-color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  color: pink;
  padding: 12px 30px;
  border: 1px solid pink;
  border-radius: 10px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #ffe6ea;
  color: #333333;
}

input[type="submit"] {
  background-color: pink;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  color: #333333;
  padding: 12px 30px;
  border: 1px solid pink;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffe6ea;
  color: #333333;
}

.wrapper-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: red;
}

.label-preferred {
  font-size: 0.9rem;
  font-style: italic;
}
.interest {
  font-size: 1.2rem;
  padding: 1;
  margin-top: 10px;
}

/* Google Maps */

.map {
  display: flex;
  flex-direction: column;
  columns: 2;
  background-color: #333333;
  background-image: url(images/fronds.jpg);
  background-position-y: 30%;
  background-attachment: fixed;
  color: white;
}
.map-item1 {
  column: 1;
  justify-content: center;
  align-content: center;
}

.map-item2 {
  column: 2;
  color: white;
}

.map-item2 ul {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
a {
  color: inherit;
}

/* About Us Page */

.profile {
  display: flex;
  flex-direction: row;
  background-color: #cbcbcf;
  justify-content: space-between;
}
.profile-image {
  justify-content: flex-start;
  flex: 1;
  height: 40rem;
  background-image: url(images/larissa.png);
  background-size: cover;
  background-position-y: 56%;
  /* width: 1120px; */
  background-color: aqua;
}
.profile-about {
  display:flex;
  flex-direction:column;
  flex: 1;
  justify-content: center;
  align-content: center;
  font-size: 1.6em;
  text-align: center;
  color:#333333;
}
.profile-cana {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 1.6em;
  text-align: center;
  color: #333333;
}
.bottom {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.profile-image2 {
  justify-content: flex-end;
  flex: 1;
  height: 40rem;
  background-image: url(images/seed.jpg);
  background-size: cover;
  background-position-y: 30%;
}


/* Services Page */

.services {
  display: flex;
  flex-direction: row;
  background-color: #cbcbcf;
  justify-content: space-between;
}
.services-land1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
  text-align: center;
  color: #333333;
}

.services-land2 {
  justify-content: flex-end;
  flex: 1;
  height: 40rem;
  background-image: url(images/landscape.jpg);
  background-size: cover;
  background-position-y: 56%;
}

.services-lawn1 {
  justify-content: flex-start;
  flex: 1;
  height: 40rem;
  background-image: url(images/mower.jpg);
  background-size: cover;
  background-position-y: 56%;
  /* width: 1120px; */
}
.services-lawn2 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  font-size: 1.6rem;
  text-align: center;
  color: #333333;
}
.services-fall1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  font-size: 1.6rem;
  text-align: center;
  color: #333333;
}

.services-fall2 {
  justify-content: flex-end;
  flex: 1;
  height: 40rem;
  background-image: url(images/fall.jpg);
  background-size: cover;
  background-position-y: 56%;
}

.services-hedge1 {
  justify-content: flex-start;
  flex: 1;
  height: 40rem;
  background-image: url(images/hedge.jpg);
  background-size: cover;
  background-position-y: 56%;
  /* width: 1120px; */
}
.services-hedge2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  font-size: 1.6rem;
  text-align: center;
  color: #333333;
}
/* width: 1120px; */

.services-mulch1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  font-size: 1.6rem;
  text-align: center;
  color:#333333;
}

.services-mulch2 {
  justify-content: flex-end;
  flex: 1;
  height: 40rem;
  background-image: url(images/dirt.jpg);
  background-size: cover;
  background-position-y: 56%;
}

.services-garden1 {
  justify-content: flex-start;
  flex: 1;
  height: 40rem;
  background-image: url(images/garden.jpg);
  background-size: cover;
  background-position-y: 56%;
  /* width: 1120px; */
}
.services-garden2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
  color: #333333;
}
