/* Header and Navigation */

header {
  background-color: #333333;
}
header img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}
header ul {
    font-family: sans-serif;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: right;
    margin: 0;
    padding: 0;

}
header li {
    padding: 15px;
    display:inline-block;
    text-decoration: none;
    list-style-type: none;
    color: white;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
  }

/* start navigation */

nav {
  background-color: #f3f3f4;
  font-size: 1.2rem;
}
nav .wrapper {
  width: 800px;
  margin: auto;
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav li a {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #191645;
}

nav li a:hover {
  background-color: pink;
  color: white;
}
/* end navigation */

/* Main */
.hero {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  /* Background Image */
background-image: url(images/fern-hero.png);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    background-color: pink;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color:white;
}

main {
    text-align: center;
}


footer {
    background-color: #333333;
    color: white;
  }

footer .wrapper {
    width: 800px;
    margin: auto;
    padding: 15px;
  }
  /* Home Page */

.btn {
    display: flex;
    flex-direction: row;
justify-content: center;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid black;
    border-radius: 20px;
    background-color: pink;
}
.btn:hover {
    background-color: #cbcbcf;
    font: black;
}
/* Social Media Buttons */
.fa {  
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        justify-content: center;
 
  }  
.fa ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
  .fa ul li {
      text-decoration: none;
      list-style-type: none;
      flex-flow: row nowrap;
  }

  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  

  .fa-instagram {  
    background: #125688;  
    color: white;  
  }

.fa:hover {  
    opacity: 0.9;  
}  

/* Contact Page */
/* STYLES ----------------------------------
1. Global settings (resets such as border-box)
2. Typography (headings, paragraphs, lists, buttons)
3. Layout structure (body, header, footer, sidebar)
4. Content blocks (cards, tables, forms, calls-to-action block)
5. General classes (.clear, .center, .right, .left, .big-margin, etc.)
6. Page-specific (styles specific to individual locations)
-----------------------------------------------------*/

/* ===============
   GLOBAL SETTINGS
   =============== */

   * {
    box-sizing: border-box;
  }
  
  /* ===============
     TYPOGRAPHY
     =============== */
  
  body {
    font-family: sans-serif;
  }
  
  /* ===============
     BUTTONS
     =============== */
  
  input[type="reset"] {
    background-color: white;
    color: pink;
    padding: 12px 20px;
    border: 1px solid pink;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background-color: #ffe6ea;
    color: #333333;
  }
  
  input[type="submit"] {
    background-color: pink;
    color: #333333;
    padding: 12px 20px;
    border: 1px solid pink;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color:#ffe6ea;
    color: #333333;

  }
  
  /* ===============
     STRUCTURE
     =============== */
  
  .wrapper-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: space-between;
  }
  
  /* ===============
     FORM CONTROLS
     =============== */
  
  input,
  select,
  textarea {
    font-size: 1em;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  textarea {
    font-family: sans-serif;
  }
  
  fieldset {
    margin-bottom: 16px;
    border: 1px solid #ccc;
  }
  
  .label-required {
    font-size: 0.8rem;
    color: red;
  }
  
  .label-preferred {
    font-size: 0.9rem;
    font-style: italic;
  }
  .interest {
    font-size: 1.2rem;
    padding: 1;
    margin-top: 10px;
  }